name: Automated Data Preprocessing - BBC News Dataset

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  preprocessing:  
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run preprocessing script
        run: |
          python preprocessing/automate_Rama.py

      - name: Upload preprocessing result
        uses: actions/upload-artifact@v4
        with:
          name: preprocessed-dataset
          path: preprocessing/preprocessed_bbc_news.csv
      - name: Debug output files
        run: |
          echo "=== LIST FILE ==="
          ls -R
